
<% if @account.twilio_accounts.empty? %>  
    <div class="tab-preview">
        <video width="1920" height="1080" controls  class="my-3"><source src="/videos/5.mp4" type="video/mp4"></video>
        <h1>You don't have any conversations yet</h1>
        <p><%= link_to "Connect a twilio account", new_account_twilio_account_path(@account) %> to see your flex conversations here</p>
    </div>
<% else %>
    <%= render 'shared/search',  placeholder: 'Search by state, friendly name, sid, messaging service sid, chat service sid or account name ' do  %>
        <input type="hidden" name="search[selected]" value="<%= @selected && @selected.id %>">
    <% end %>
    <%= render 'conversations/conversations', calls: @conversations, search: @search %>
<%- end %>

