<!-- this is the team switcher -->
<div class="flex-shrink-0 relative inline-flex items-center ml-2 " data-controller="dropdown">

    <button type="button" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button"  tabindex="0"
            class="relative inline-flex items-center  p-2 text-sm font-medium text-sky-500 hover:text-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2 focus:ring-offset-gray-800 stroke-sky-500 hover:stroke-sky-700">
      <%- if @account.id? %>
        <span><%= @account.name %></span>
      <%- else %>
        <span>New team</span>
      <%- end %>

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="-1 -1 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M6 9l6 6 6-6"/>
      </svg>
    </button>

  <div data-dropdown-target="menu" class="hidden origin-top-left absolute left-0 top-12 z-50 mt-0 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

    <%= render 'shared/teams_list_content' %>

  </div>
</div>
