<div class="session-box">
  <div id="signup-login-form">
    <div >
      <%= image_tag "barn-owl.png", class: "mx-auto h-12 w-auto", alt: "Owl Commander" %>
      <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900"><%= title %></h2>
    </div>

    <div class="mt-8">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <%= yield %>
      </div>
    </div>


    <div id="big-buttons">
      <a id="see-on-github"
      target="_blank" href="https://github.com/HeyHo-Systems/owlcommander/">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"   x="0px" y="0px" viewBox="0 0 512 512"   xml:space="preserve">
      <g fill="#FFFFFF">
        <path d="M256,8C112,8,0,120,0,264c0,168,152,240,176,240c16,0,16-8,16-16v-40c-56,16-80-16-88-40c0,0,0-8-16-24c-8-8-40-24-8-24   c24,0,40,32,40,32c24,32,56,24,72,16c0-16,16-32,16-32c-64-8-112-32-112-120c0-32,8-56,24-72c0,0-16-32,0-72c0,0,40,0,72,32   c24-16,104-16,128,0c32-32,72-32,72-32c16,56,0,72,0,72c16,16,24,40,24,72c0,88-56,112-112,120c8,8,16,24,16,48v64c0,8,0,16,16,16   c24,0,176-72,176-240C512,120,400,8,256,8z"/>
      </g>
      </svg>
      See code on GitHub
    </a>

      <a
        id="deploy-to-heroku"
       target="_blank" href="https://heroku.com/deploy?template=https://github.com/HeyHo-Systems/owlcommander/tree/main">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 18 18"   xml:space="preserve">
     <g xmlns="http://www.w3.org/2000/svg" id="Icon" fill="#FFFFFF" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" sketch:type="MSShapeGroup">
                <path d="M14.819,3.216 L9.103,0.25 C8.464,-0.082 7.536,-0.081 6.898,0.25 L1.181,3.216 C0.496,3.571 0,4.365 0,5.102 L0,11.035 C0,11.774 0.497,12.566 1.181,12.921 L4.039,14.404 C4.529,14.656 5.134,14.467 5.388,13.978 C5.642,13.487 5.451,12.884 4.961,12.629 L2.106,11.148 C2.068,11.124 2.008,11.039 2,11.035 L1.996,5.143 C2.008,5.098 2.068,5.013 2.103,4.991 L7.816,2.026 C7.897,1.991 8.106,1.992 8.181,2.025 L13.894,4.989 C13.932,5.013 13.992,5.098 14,5.102 L14.003,10.995 C13.992,11.039 13.932,11.124 13.898,11.146 L11.039,12.629 C10.549,12.884 10.358,13.487 10.612,13.978 C10.79,14.32 11.14,14.517 11.501,14.517 C11.656,14.517 11.814,14.481 11.961,14.404 L14.818,12.921 C15.503,12.566 16,11.774 16,11.035 L16,5.102 C16,4.365 15.504,3.571 14.819,3.216" id="App"/>
                <path d="M11.707,9.707 C12.098,9.316 12.098,8.684 11.707,8.293 L8.708,5.294 C8.616,5.201 8.505,5.128 8.382,5.077 C8.138,4.976 7.862,4.976 7.618,5.077 C7.495,5.128 7.385,5.201 7.292,5.294 L4.293,8.293 C3.902,8.684 3.902,9.316 4.293,9.707 C4.488,9.902 4.744,10 5,10 C5.256,10 5.512,9.902 5.707,9.707 L7,8.414 L7,15 C7,15.553 7.447,16 8,16 C8.553,16 9,15.553 9,15 L9,8.414 L10.293,9.707 C10.488,9.902 10.744,10 11,10 C11.256,10 11.512,9.902 11.707,9.707" id="Arrow"/>
            </g>
      </svg>
      Deploy to Heroku
    </a>
    
    </div>

  </div>

  <div id="presentation">
    <h2 class="mt-6 text-xl font-extrabold text-gray-900">Welcome to Owl commander</h2>
    <video width="1920" height="1080" controls  class="my-3"><source src="/videos/1.mp4" type="video/mp4"></video>
    <p> 
    This is an open source monitoring interface for Twilio made by  <a href="https://heyhosystems.com/" target="_blank">HeyHo Systems</a>.
       To get started, create an account, create a team, invite colleagues and connect a <a href="https://www.twilio.com/" target="_blank">Twilio</a> account.  
   You can read the code on <a href="https://github.com/HeyHo-Systems/owlcommander/" target="_blank">GitHub</a> or run your own instance on 
<a href="https://heroku.com/deploy?template=https://github.com/HeyHo-Systems/owlcommander/tree/main" target="_blank">Heroku</a>
  </p>
  
 

    <h2 class="mt-6 text-xl font-extrabold text-gray-900">The calls tab</h2>
    <video width="1920" height="1080" controls  class="my-3"><source src="/videos/2.mp4" type="video/mp4"></video>
    <p>A real-time view of your Twilio calls in a searchable and sortable table view.</p>
  
    <h2 class="mt-6 text-xl font-extrabold text-gray-900">The numbers tab</h2>
    <video width="1920" height="1080" controls  class="my-3"><source src="/videos/3.mp4" type="video/mp4"></video>
    <p>The phone numbers you own in Twilio, their voice URL and editable friendly name.</p>
  
   <h2 class="mt-6 text-xl font-extrabold text-gray-900">The conversations tab</h2>
    <video width="1920" height="1080" controls  class="my-3"><source src="/videos/5.mp4" type="video/mp4"></video>
    <p>Monitor your chat conversations, debug chatbots and quickly find mentions of specific words.</p>
  
   <h2 class="mt-6 text-xl font-extrabold text-gray-900">Multiple twilio accounts</h2>
    <video width="1920" height="1080" controls  class="my-3"><source src="/videos/4.mp4" type="video/mp4"></video>
    <p>No need to "switch account" in Owl Commander, we display the data of all your Twilio accounts in one table. </p>
</div>


  </div>
</div>
