<div>
    <h1 class="text-xl font-semibold text-gray-900 leading-tight">
        <%= @title %>
        <%- if @subtitle.present? %>
        <span class="pl-2 font-normal"><%= @subtitle %></span>
        <%- end %>
    </h1>
    <%- if @description %>
        <p class="mt-2 text-sm text-gray-700"><%= @description %></p>
    <%- end %>
</div>
